<div class="backdrop is-hidden">
    <div class="modal">
        <button class="modal__btn-close" type="button" data-close="close">
            <svg class="modal__icon" width="30" height="30">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <div class="modal__window">
            <div class="modal__container">
                <div class="modal__img-wrap">
                    <img class="modal__img" src="./images/Rectangle 18.png">
                </div>
                <div class="modal__about-movie">
                    <h3 class="modal__title">A FISTFUL OF LEAD</h3>
                    <div class="modal__text-wrap">
                        <ul>
                            <li class="modal__text-characteristic">Vote / Votes</li>
                            <li class="modal__text-characteristic-value">7.3 / 1260</li>
                        </ul>
                        <ul>
                            <li class="modal__text-characteristic">Popularity</li>
                            <li class="modal__text-characteristic-value">100.2</li>
                        </ul>
                        <ul>
                            <li class="modal__text-characteristic">Original Title</li>
                            <li class="modal__text-characteristic-value">A FISTFUL OF LEAD</li>
                        </ul>
                        <ul>
                            <li class="modal__text-characteristic">Genre</li>
                            <li class="modal__text-characteristic-value">Western</li>
                        </ul>
                    </div>
                    <div class="modal__overview-wrap">
                        <h3 class="modal__overview-title">About</h3>
                        <p class="modal__overview-text">Four of the West’s most infamous outlaws assemble to steal a
                            huge
                            stash
                            of gold from the most corrupt settlement of the
                            gold rush towns. But not all goes to plan one is killed and the other three escapes with
                            bags of
                            gold hide out in the</p>
                    </div>
                    <div class="modal__btn-wrap">
                        <button class="modal__btn w" type="button">add to Watched</button>
                        <button class="modal__btn q" type="button">add to queue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>