<header class="header-library">
    <div class="container">
        <div class="links-frame">
            <a class="header-logo" href="./index.html">
                <svg width="24" height="24">
                    <use href="./images/sprite.svg#logo"></use>
                </svg>
                <h3>Filmoteka</h3>
            </a>
            <nav>
                <ul class="header__links">
                    <li><a class="header-link" href="./index.html">home</a></li>
                    <li><a class="header-link current" href="./library.html">my library</a></li>
                </ul>
            </nav>
        </div>
        <ul class="library-list">
            <li class="library-item">
                <button class="library__btn watched library__btn-current">watched</button>
            </li>
            <li class="library-item">
                <button class="library__btn queue">queue</button>
            </li>
        </ul>
    </div>
</header>