<main>
    <section class="section">
        <div class="container">
            <ul class="gallery">
            </ul>
        </div>
    </section>
    <section class="section pagination">
        <div class="container">
            <div class="pagination__wrap">
                <button class="pagination__btn prev not-active" type="button">
                    <svg class="pagination__icon prev" width="16" height="16">
                        <use href="./images/sprite.svg#vector"></use>
                    </svg>
                </button>
                <div class="pagination__btn-wrap">
                    <button class="pagination__btn num current-page" tupe="button" data-index="0">1</button>
                    <button class="pagination__btn num" tupe="button" data-index="1">2</button>
                    <button class="pagination__btn num" tupe="button" data-index="2">3</button>
                    <button class="pagination__btn num" tupe="button" data-index="3">4</button>
                    <button class="pagination__btn num" tupe="button" data-index="4">5</button>
                </div>
                <button class="pagination__btn next" type="button">
                    <svg class="pagination__icon" width="16" height="16">
                        <use href="./images/sprite.svg#vector"></use>
                    </svg>
                </button>
            </div>
        </div>
    </section>
</main>