.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);

    @media screen and (min-width: $tablet) {
        --indent: 30px;
    }
}

.item {
    --item: 1;
    overflow: hidden;
    border-radius: 5px;
    flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
    transition: box-shadow var(--anim-standart), transform var(--anim-standart);

    &:hover,
    &:focus {
        transform: scale(1.05);
        transition: var(--anim-standart);
    }

    @media screen and (min-width: $tablet) {
        --item: 2;

        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }

    @media screen and (min-width: $desktop) {
        --item: 3;
    }
}

.item__img {
    object-fit: cover;
    border-radius: 5px;
}

.item__img-frame {
    margin-bottom: 10px;
    height: 398px;
}

.item__text {
    font-size: 12px;
    line-height: 16px;
    color: var(--bg-orange-color);
}

.item__text.title {
    margin-bottom: 4px;
    text-transform: uppercase;
    color: var(--black-color);
}

